 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:display=swap');
    a:link { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { color: black; text-decoration: none;}

#footer{
    background-color: #003458;
    height: 100px;
    width: 100%;
    margin-top: 235px;
    }  
    #footer p{
    padding: 50px 0 0 44.7%;
    font-size : 14px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
    
}
 
    #login_box{
        width: 734px; height : 500px;
        position: relative;
        bottom : 0;
        margin: 190px 0 0 30.72%;
        background-color: rgba(204, 223, 248, 0.8); ;
        box-shadow: 0px 10px 10px 0px  #b4b4b4;

    }
    .input_id{
        width : 505px; height: 93px;
        padding: 115px 0 0 115px;
    }
    .input_id p{
        margin : 0;
        padding : 0;
        font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;
    }
    .input_id input{
        margin-top : 5px;
        width : 505px; height: 50px;
        border : 0px;
        padding-left: 3px;
        font-size: 16px;
        border-radius: 30px;
        text-indent: 10px;
    }
    .input_passwd{
        width : 505px; height: 93px;
        margin: 50px 0 0 115px;
    }
    .input_passwd p{
        margin : 0;
        padding : 0;
        font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;
    }
    .input_passwd input{
        margin-top : 5px;
        width : 505px; height: 50px;
        border : 0px;
        font-size: 16px;
        border-radius: 30px;
        text-indent: 10px;
    }

    #login_submit{
        width: 185px; height: 45px;
        font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
        text-align: center;
        vertical-align: text-bottom;
        margin: 50px 0 0 275px;
        border:0px;
        background-color: #fff;
        padding : 0 0 10px 0;
        box-shadow: 1px 0 0 0 #b4b4b4;
    }
    #login_submit:hover{
        box-shadow: 0 0 1px 0.5px black ;
    }
    #option{
        display: flex;
        width: 729;
        margin: 20px 0 0 595px;
    }
    #option button p{
        font-size : 14px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
        margin: 0px 0 0 15px;
        text-align: left;
    }

    #option button:hover{
        box-shadow: 0 0 1px 0.5px black inset;
    }
    #option button i{
        position: absolute;
        left: 200px;
        bottom:30px;
    }
    #lostid{
        border: none;
        float: left;
        width: 243px; height : 75px;
        margin :0; padding: 0;
        vertical-align: middle;
        position: relative;
        background-color: #fff;
        cursor: pointer;
    }
    #signup{
        border: none;
        float: left;
        width: 243px; height : 75px;
        margin :0; padding: 0;
        vertical-align: middle;
        position: relative;
        background-color: #fff;
        cursor: pointer;
    }
    #lostpasswd{
        border: none;
        border-left: 1px solid; border-right: 1px solid;
        float: left;
        width: 243px; height : 75px;
        margin :0; padding: 0;
        vertical-align: middle;
        position: relative;
        background-color: #fff;
        cursor: pointer;
    }
.modal-close{
        position: absolute;
        top : 10px; right : 10px;
        font-weight: bold; 
        cursor: pointer;
    }
/* singup start */
.modal-signup{
    position: fixed;
    width: 100%; height: 100vh;
    left: 0; top: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center; align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-active-signup{
    visibility: visible;
    opacity: 1;
}
#signup_box{
        position: absolute;
        display: flex; flex-direction: column;
        top:200px; left:710px;
        bottom : 0px;
        width: 500px; height : 600px;
        margin : 0; padding:0;
        background-color: rgb(255, 255, 255,0.8);
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);

}

#signup_box #banner{
    margin : 0 0 0 170px; padding : 20px 0 0 0;
    width:160px;
    font-size : 40px; font-family: 'Noto Sans KR', sans-serif; font-weight: 600;
}
#signup_box #input_name{
    position: relative;
    margin: 40px 0 0 92px;
    width: 316px;
}
#signup_box #input_name i{
    position: absolute;
    top : 3px;
    left : 5px;
    bottom: 3px;
}
#signup_box #input_name input{
        margin: 0 0 0 42px;
        width : 263px; height: 36px;
        border : 1px solid;
        padding-left: 3px;
        font-size: 14px;
        text-indent: 10px;
        border : none;
}
#signup_box #input_name button{
	position: absolute;
    top: 6px;
    right: 15px;
    margin:0; padding:0 0 2px 0;
    width : 70px; height : 25px;
    background-color: #464964;
    border : none;
    border-radius: 5px;
    color : #fff;
    font-size : 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; vertical-align: middle;
}
#signup_box #input_name button:hover{
    box-shadow: 0 0 0.5px 1px black
}
#signup_box #input_id{
    position: relative;
    width: 316px;
    margin: 20px 0 0 92px;
}
#signup_box #input_id i{
    position: absolute;
    left: 5px;
    top: 3px;
    width: 36px; height: 36px;
}
#signup_box #input_id input{
        margin: 0 0 0 42px;
        width : 263px; height: 36px;
        border : 1px solid;
        padding-left: 3px;
        font-size: 14px;
        text-indent: 10px;
        border : none;
}
#signup_box #input_id button{
    position: absolute;
    top: 6px;
    right: 15px;
    margin:0; padding:0 0 2px 0;
    width : 70px; height : 25px;
    background-color: #464964;
    border : none;
    border-radius: 5px;
    color : #fff;
    font-size : 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; vertical-align: middle;
}
#signup_box #input_id button:hover{
    box-shadow: 0 0 0.5px 1px black
}

#signup_box #passwd{
    display: inline-flex; flex-direction: column;
    position: relative;
    margin : 0; padding : 0;
    height : 50px;
    margin: 18px 0 0 92px;
}
#signup_box #passwd i{
    position: absolute;
    top : 15px;
    left : 5px;
    bottom: 3px;
    margin : 0; padding : 0;
}
#signup_box #passwd input{
    margin: 0 0 0 42px;
    width : 263px; height: 36px;
    border : 1px solid;
    padding-left: 3px;
    font-size: 14px;
    text-indent: 10px;
    border : none;
}
#signup_box #passwd p{
    margin: 0 0 0 42px; padding: 0;
    font-size : 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; vertical-align: middle;
}
#signup_box #input_passwdcheck{
    position: relative;
    margin: 20px 0 0 92px;
    width: 316px;
}
#signup_box #input_passwdcheck i{
    position: absolute;
    top : 3px;
    left : 5px;
    bottom: 3px;
}
#signup_box #input_passwdcheck input{
    margin: 0 0 0 42px;
    width : 263px; height: 36px;
    border : 1px solid;
    padding-left: 3px;
    font-size: 14px;
    text-indent: 10px;
    border : none;
}
#signup_box #input_phone{
    position: relative;
    margin: 20px 0 0 92px;
    width: 316px;
}
#signup_box #input_phone i{
    position: absolute;
    top : 3px;
    left : 5px;
    bottom: 3px;
}
#signup_box #input_phone input{
        margin: 0 0 0 42px;
        width : 263px; height: 36px;
        border : 1px solid;
        padding-left: 3px;
        font-size: 14px;
        text-indent: 10px;
        border : none;
}
#signup_box #input_email{
    position: relative;
    margin: 20px 0 0 92px;
    width: 316px;
}
#signup_box #input_email i{
    position: absolute;
    top : 3px;
    left : 5px;
    bottom: 3px;
}
#signup_box #input_email input{
        margin: 0 0 0 42px;
        width : 263px; height: 36px;
        border : 1px solid;
        padding-left: 3px;
        font-size: 14px;
        text-indent: 10px;
        border : none;
}
#signup_submit{
        width: 215px; height: 45px;
        font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
        text-align: center;
        vertical-align: text-bottom;
        margin: 60px 0 0 142.5px;
        border:none;
        padding : 0 0 5px 0;
        border-radius: 25px;
        background-color: #989898;
}
#signup_submit:hover{
    box-shadow: 0 0 3px 1px black;
}
/* singup end */

/* lostid start */
.modal-lostid{
    position: fixed;
    width: 100%; height: 100vh;
    left: 0; top: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center; align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-active-lostid{
    visibility: visible;
    opacity: 1;
}
#lostid_box{
    display: flex; flex-direction: column;
    top: 33%; left : 37.5% ;
    position: absolute;
    width: 500px; height : 350px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
}
#lostid_box #banner{
    margin : 0 0 0 50px; padding : 30px 0 0 0;
    font-size : 26px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;
}
.input_name{
    width : 505px; height: 40px;
    margin: 30px 0 0 115px;
}
.input_name p{
    margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}
.input_name input{
    margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}
.input_email{
    width : 505px; height: auto;
    margin: 30px 0 0 115px;
}
.input_email p{
    margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}
.input_email input{
    margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}

#lostid_submit{
    width: 215px; height: 45px;
    font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
    text-align: center;
    vertical-align: text-bottom;
    margin: 60px 0 0 142.5px;
    border:none;
    padding : 0 0 5px 0;
    border-radius: 25px;
    background-color: #989898;
}
#lostid_submit:hover{
box-shadow: 0 0 3px 1px black inset;
}
#findid{
	margin : 60px 0 0 0;
	text-align: center;
	font-size : 26px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500; color: black;
}
#lostid_close{
	width: 150px; height: 45px;
    font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
    text-align: center;
    vertical-align: text-bottom;
    margin: 60px 0 0 0;
    border:none;
    padding : 0 0 5px 0;
    border-radius: 25px;
    background-color: #989898;
}
#lostid_close:hover{
box-shadow: 0 0 3px 1px black inset;
}
.findpasswd{
	width: 150px; height: 45px;
    font-size : 20px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
    text-align: center;
    vertical-align: text-bottom;
    margin: 60px 0 0 20px;
    border:none;
    padding : 0 0 5px 0;
    border-radius: 25px;
    background-color: #989898;
}
.findpasswd:hover{
	box-shadow: 0 0 3px 1px black inset;
}
/* lostid end */

/* lostpasswd start*/
.modal-lostpasswd{
    position: fixed;
    width: 100%; height: 100vh;
    left: 0; top: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center; align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-active-lostpasswd{
    visibility: visible;
    opacity: 1;
}
#lostpasswd_box{
    display: flex; flex-direction: column;
    width: 500px; height : 400px;
    position: absolute; top: 33%; left : 37.5% ;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
}
#lostpasswd_box #banner{
    margin : 0 0 0 50px; padding : 30px 0 0 0;
    font-size : 26px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;
}

#lostpasswd_box #input_id{
    width : 505px; height: 40px;
    margin: 30px 0 0 115px;
}
#lostpasswd_box #input_id p{
    margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}
#lostpasswd_box #input_id input{
    margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}

#lostpasswd_box #input_name{
    width : 505px; height: 40px;
    margin: 30px 0 0 115px;
}
#lostpasswd_box #input_name p{
    margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}
#lostpasswd_box #input_name input{
    margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}
#lostpasswd_box #input_email{
    width : 505px; height: auto;
    margin: 30px 0 0 115px;
}
#lostpasswd_box #input_email p{
    margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}
#lostpasswd_box #input_email input{
    margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}

#lostpasswd_submit{
    width: 215px; height: 45px;
    font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
    text-align: center;
    vertical-align: text-bottom;
    margin: 39px 0 0 142.5px;
    border:none;
    padding : 0 0 5px 0;
    border-radius: 25px;
    background-color: #989898;
}
#lostpasswd_submit:hover{
box-shadow: 0 0 3px 1px black inset;
}
#input_passwd > #passwd_confirm {
	 margin: 0 0 0 0; padding: 0;
    font-size : 12px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; vertical-align: middle;
}
#input_passwd{
	width : 505px; height: 40px;
    margin: 30px 0 0 115px;
}
#input_passwd input{
	margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}
#input_passwd p{
	 margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}

#input_passwdCheck{
	width : 505px; height: auto;
    margin: 40px 0 0 115px;
}

#input_passwdCheck input{
	margin-top : 5px;
    width : 263px; height: 24px;
    border : none;
    padding-left: 3px;
    font-size: 16px;
    text-indent: 10px;
}
#input_passwdCheck p {
	 margin : 0;
    padding : 0;
    font-size : 18px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400;
}

#changepasswd_submit{
	 width: 215px; height: 45px;
    font-size : 25px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; color: #fff;
    text-align: center;
    vertical-align: text-bottom;
    margin: 39px 0 0 142.5px;
    border:none;
    padding : 0 0 5px 0;
    border-radius: 25px;
    background-color: #989898;
}
#changepasswd_submit:hover{
box-shadow: 0 0 3px 1px black inset;
}
/* lostpasswd end*/

